@{
    ViewBag.Title = "InicioFront";
    Layout = "~/Views/Shared/_frontTemplate.cshtml";
}

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(@Url.Content("~/Images")/telaitem1.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Ven a conocer las mejores telas regionales del sureste.</h1>
                                <h2 class="animation animated-item-2">Ven y conoce las mejores telas del sureste, no te quedes con las ganas de vestir como se debe...</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="@Url.Content("~/Images")/trajeitem1.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(@Url.Content("~/Images")/telaitem2.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="@Url.Content("~/Images")/trajeitem2.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(@Url.Content("~/Images")/telaitem3.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="@Url.Content("~/Images")/images/slider/img3.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section><!--/#main-slider-->
<section id="recent-works">
    <div class="container">
        
        <div class="row">

        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#recent-works-->

<section id="bottom"></section>
<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <br />
            <h2>Nuestras Validaciones</h2>
            <p class="lead"> Conoce el procentaje de validación que contiene nuestra página web <br> TELAS REGIONALES DEL SUR</p>
        </div>
        <div class="row">
            <a href="https://developers.google.com/speed/pagespeed/insights/">
                <div class="col-sm-6 col-md-4">

                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="@Url.Content("~/Images")/pagespeed.png" width="90px">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">PageSpeed Insights</h3>
                            <p>Poner aqui porcentaje al final</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://seositecheckup.com/">
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="@Url.Content("~/Images")/seosite.png" width="100px">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SEO SiteCheckup</h3>
                            <p>Poner porcentaje aquì</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://validator.w3.org/">
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="@Url.Content("~/Images")/w3cvalidator.jpg" width="150px">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">W3C Validator</h3>
                            <p>Porcentaje aquì</p>
                        </div>
                    </div>
                </div>
            </a>
</div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->



